$secondary: #0077fe;

.work-desc-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2%;
  .work-desc-container {
    width: 50%;
  }
  h1 {
    color: $secondary;
    font-size: 40px;
    font-weight: 600;
  }
  p {
    text-align: center;
  }
}
