.homepage-body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 88vh;
  width: 100%;
  h1 {
    font-size: 10em;
    color: black;
    font-weight: 800;
  }
  p {
    align-self: inherit;
    cursor: pointer;
  }
}
