$primary: #eaf4ff;
$secondary: #0077fe;
$github: #171515;
$linkedin: #0072b1;
$email: red;

.homepage-body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-color: $primary;
  height: 100vh;
  width: 100%;
  h1 {
    font-size: 10em;
    color: $secondary;
    font-weight: 800;
  }
  p {
    color: $secondary;
    align-self: inherit;
    cursor: pointer;
  }
  .homepage-icon-container {
    width: 10%;
    // outline: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    i {
      cursor: pointer;
      font-size: 2rem;
    }
    // .fa-envelope,
    // .fa-linkedin,
    // .fa-square-github {
    //   color: white;
    // }

    .fa-linkedin {
      color: $linkedin;
    }
    .fa-square-github {
      color: $github;
    }
    .fa-envelope {
      color: $email;
    }
  }
}
