.aboutme-main-container {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // .next-btn {
  //   margin-right: 1%;
  // }
  // .prev-btn {
  //   margin-left: 1%;
  // }

  .aboutme-text-container {
    width: 20%;
    text-align: center;
    p {
      font-size: 16px;
      font-weight: 400;
    }
    h1 {
      font-size: 40px;
      font-weight: 700;
    }
    h2 {
      font-size: 32px;
      font-weight: 600;
    }
    h1,
    h2 {
      margin: 0;
      padding: 0;
    }
  }
  .aboutme-image {
    img {
      object-fit: cover;
      height: 45em;
      width: 30em;
    }
  }
}
