$primaryTextColor: #eaf4ff;
$secondary: #0077fe;

.aboutme-main-container {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .aboutme-text-container {
    width: 20%;
    text-align: center;
    p {
      font-size: 16px;
      font-weight: 400;
    }
    h1 {
      color: $secondary;
      font-size: 40px;
      font-weight: 700;
    }
    h2 {
      color: $secondary;
      font-size: 32px;
      font-weight: 600;
    }
    h1,
    h2 {
      margin: 0;
      padding: 0;
    }
  }
  .aboutme-image {
    display: flex;
    justify-content: center;
    span {
      position: absolute;
      z-index: 20;
    }
    img {
      height: 45em;
      width: 30em;
      position: relative;
      object-fit: cover;
    }
  }
}
